.card {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .card.highlighted {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); /* Slightly scale the card */
    border: 2px solid #007bff; /* Change border color to indicate highlight */
  }

  h1{
      font-family: 'Times New Roman', Times, serif;
      text-align: center;
  }

  .container{
      font-family: 'Times New Roman', Times, serif;
      text-align: center;
  }

  