<section id="features" class="py-5 landing-page">
  <div class="top">
    <!-- <h1>ELEVATE LOCAL !!</h1> -->
  </div>
  <br>
  
  <div class="col-12 mb-4 text-center">
    <button class="btn btn-primary" style="font-family: 'Times New Roman';" (click)="goToRegister()">Login</button>
  </div>
  <div class="container">
    <div class="row">
      <!-- Card 1 -->
      <div class="col-12 mb-4">
        <div class="card" [class.highlighted]="hoveredCardIndex === 0" (click)="selectCard(0)" 
             (mouseenter)="onCardHover(0)" (mouseleave)="onCardLeave()">
          <div class="card-body">
            <h5 class="card-title">Free Shipping Across India on Orders Above ₹299!</h5>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-12 mb-4">
        <div class="card" [class.highlighted]="hoveredCardIndex === 1" (click)="selectCard(1)" 
             (mouseenter)="onCardHover(1)" (mouseleave)="onCardLeave()">
          <div class="card-body">
            <h5 class="card-title">Nearby Finds, <br> Delivered Fast</h5>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-12 mb-4">
        <div class="card" [class.highlighted]="hoveredCardIndex === 2" (click)="selectCard(2)" 
             (mouseenter)="onCardHover(2)" (mouseleave)="onCardLeave()">
          <div class="card-body">
            <h5 class="card-title">Sourced from trusted vendors, our products are crafted to meet everyone's needs.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
