<section id="features" class="py-5">
    <div class="top">
        <h1>ELEVATE LOCAL !!</h1>
        <h5>Digitalizing Local Businesses...</h5>
    </div>
    <br>
    <div class="col-12 mb-4 text-center">
        <button class="btn btn-primary" style="font-family: 'Times New Roman';">Register</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Free Shipping Across India on Orders Above ₹299!</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nearby Finds, <br> Delivered Fast</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sourced from trusted vendors, our products are crafted to meet everyone's
                            needs.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>