/* #features{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url('/assets/bg.png');
  background-size: cover;
  background-position: center;
}
.bg{
  
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire area */
    /* position: absolute;
    top: 0;
    left: 0; */
    /* z-index: -1; Move the image behind the content */
/* } */ 

.card {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .card.highlighted {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); /* Slightly scale the card */
    border: 2px solid #007bff; /* Change border color to indicate highlight */
  }

  h1{
      font-family: 'Times New Roman', Times, serif;
      text-align: center;
  }

  .container{
      font-family: 'Times New Roman', Times, serif;
      text-align: center;
  }

  